root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,axaml}]
indent_style = space
indent_size = 4

[*.{csproj,props,targets,slnx,json,md,yml,yaml}]
indent_style = space
indent_size = 2

[*.cs]
dotnet_sort_system_directives_first = true
csharp_style_namespace_declarations = file_scoped:suggestion
